@import url("font.css");
@import url("variables.css");

main.admin{
    min-height: 490px;
}
main.admin a{
    text-decoration: none;
}
main.admin h2{
    text-align: center;
}
input,button{
    box-sizing: border-box;
}
main.admin ul{
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 0 auto;
}
main.admin>ul{
    margin: 20px auto;
    width: 90%;
}
main.admin>ul>li{
    margin: auto;
    width: 90%;
}
main.admin li.selection li,main.admin li.selection li *{
    display: inline-block;
}
main.admin li.selection li *{
    height: 40px;
}
main.admin li.select-container{
    text-align: center;
    width: 100%;
}
main.admin li.select-container select{
    padding: 2px;
    width: 100%;
}
label.hidden{/*     label       */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
main.admin li.searchbar-container{
    margin: 10px 0;
    width: 60%;
}

main.admin li.searchbar-container input{
    padding: 0 2%;
    border: 0.5px solid var(--black);
    width: 100%;
}
main.admin li.button-container{
    margin: 10px 0 0 10%;
    width: 30%;
    text-align: center;
}
main.admin li.button-container button{
    color: var(--container-background);
    background-color: var(--button-color);
    border: 2px solid var(--button-color);
    box-sizing: border-box;
    transition: all var(--transition-time);
    width: 96%;
}
main.admin li.button-container button:hover{
    background-color: var(--container-background);
    color: var(--button-color);
}
main.admin li.button-container button,main.admin li.searchbar-container input, main.admin li.select-container select{
    border-radius: var(--border-radius);
}
main.admin ul.results ul{
    background-color: white;
    color: var(--black);
    border: 1px solid var(--button-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    padding: 10px 5%;
}
main.admin ul.results>li:not(:first-child){
    margin-top: 10px;
}
main.admin ul.results ul>li{
    vertical-align: middle;
    display: inline-block;
}
main.admin  a{
    display: block;
    color: var(--black);
}
main.admin ul.results ul>li.user{
    word-break: break-all;
    width: 80%;
}
main.admin ul.results ul>li.button{
    margin-left: 3%;
    width: 17%
}
main.admin ul.results ul>li.button button{
    border-radius: var(--border-radius);
    background-color: #ececec;
    padding: 5px 10px;
    border: none;
    background-color: var(--button-color);
    color: var(--container-background);
    font-size: 130%;
    transition: all var(--transition-time);
}
main.admin ul.results ul>li.button button:hover{
    color: var(--button-color);
    background-color: var(--container-background);
}
@media screen and (min-width: 768px){
    main.admin{
        width: 80%;
        min-height: 90vh;
    }
    main.admin li.selection li{
        width: 37%;
    }
    main.admin li.selection li:not(:first-child){
        margin-left: 5%;
    }
    main.admin li.selection li *{
        height: 40px;    
    }
    main.admin li.selection li.button-container{
        vertical-align: top;
        width: 16%;
    }
    main.admin li.selection li.button-container button{
        padding: 0;
        width: 100%;
    }
    main.admin ul.results ul{
        padding-left: 2%;
    }
    main.admin ul.results ul>li.user{
        word-break: break-all;
        width: 95%;
    }
    main.admin ul.results ul>li.button{
        margin-left: 3%;
        width: 2%;
    }
}
