@import url("font.css");
@import url("normalize.css");
@import url("variables.css");

*{
    word-break: break-all;
}
body{
    background-color: var(--background-color);
}
button,input:focus,button:active{
    outline:none;
}
button{
    cursor: pointer;
}
/* all menus */
body > header{
    position: fixed;
    width: 100%;
    top:0;
}
body > header section.desktop{
    display: none;
}
body > header button{
    background-color: transparent;
    cursor: pointer;
}

body > header *,body > header,body > footer{
    padding: 0;
    margin: 0;
    border: none; 
}
body > header input{
    font-family: UbuntuR;
    font-size: 120%;
}
body > header a{
    text-decoration: none;
    font-family: UbuntuR;
    color: white;
}
body > header strong{
    color: white;
}
body > header section.desktop > ul.nav-bar > ul > li,
body > header section > ul.nav-bar > li{
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
body > header section > ul.nav-bar > li::before,body > header  ul.nav-bar a::before{ /* for li vertical align */
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}
body > header section.desktop > ul.nav-bar > ul > li,
body > header section > ul.nav-bar > li > *{
    height: 100%;
    vertical-align: middle;
}
body > header section ul.nav-bar li img{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 70%;
}
body > header section ul.nav-bar li.search-bar-container{
    display: none;
}
body > header section ul.nav-bar input[type="text"]{
    width: 95%;
}
body > header section ul.nav-bar input{
    padding-left: 5%;
    border-radius: var(--border-radius);
}
body > header section ul.nav-bar li.button-container-hided{
    display: none;
    margin-right: 0%;
}
label.hidden, body > header h2{/*     label       */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* mobile menu */
body > header section.mobile > ul.nav-bar{
    overflow: hidden;
    height: 50px;
    background-color: var(--black);
    text-align: right;
}
body > header section.mobile ul.nav-bar li.image-container{/* img box*/
    float: right;
    width: 110px;
    height: 100%;
    margin-right: 10%;
}
body > header section.mobile ul.nav-bar li.search-bar-container{
    width: 80%;
    margin-right: 3%;
}
body > header section.mobile ul.nav-bar li.search-bar-container input{
    height: 80%;
}
body > header section.mobile ul.nav-bar li.search-button-container,
body > header section.mobile ul.nav-bar li.menu-button-container,
body > header section.mobile ul.nav-bar li.cart-button-container{
    margin-right: 5%;
    float: right;
}
/* desktop menu*/
body > header section.desktop > ul.nav-bar{
    height: 45px;
    background-color: var(--black);
    text-align: left;
}
body > header section.desktop ul.nav-bar > li.image-container{/* img box*/
    width: 6%;
    margin-left: 2%;
}
body > header section.desktop > ul.nav-bar li.main-menu{
    margin-left: 1%;
    width: 40%;
}
body > header section.desktop > ul.nav-bar li.main-menu > ul{
    display: inline-block;
    height: 100%;
    width: 100%;
}
body > header section.desktop > ul.nav-bar ul li{
    display: inline-block;
    width: 25%;
    height: 100%;
}
body > header section.desktop > ul.nav-bar ul > li > a{ 
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}
body > header section.desktop > ul.nav-bar > li.main-menu >ul > li > a:hover{
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    color: var(--black);
    font-weight: bold;
}
body > header section.desktop li.search-bar-container{
    float: right;
    height: 100%;
    width: 25%;
    margin-right: 1%;
}
body > header section.desktop li.search-bar-container input{
    height: 80%;
}
body > header section.desktop li.cart-button-container a strong{
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}
body > header section.desktop li.account-button-container,
body > header section.desktop li.search-button-container,
body > header section.desktop li.cart-button-container{
    float:right;
    margin-right: 2%;
}
/*      black screen        */
body > header section.mobile ul.menu{
    bottom: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 150%;
    background-color: var(--black);
    text-align: left;
}
section.mobile ul.menu li.close-button-container{
    padding: 5px 0;
    width: 100%;
    text-align: right;
}

section.mobile ul.menu button#mobile-close-menu{
    height: 100%;
    margin-right: 5%;
}
section.mobile ul.menu li:not(:first-child){
    margin-bottom: 20px;
    display: block;
    width: 50%;
    margin-left:20%;
}
section.mobile ul.menu li hr{
    margin: 10px 0;
    max-width: 200px;
    border:1px solid;
    border-color:white;
}
.notifications-number,.cart-number{
    font-family: UbuntuR;
    background-color: #fa3e3e;
    border-radius: var(--border-radius);
    color: white;
    padding: 1px 4px;
    top: 5px;
    margin-left: -17px;
    position: relative;
}
body > header section > ul.nav-bar > li  span.notifications-number{
    top: -16px;
}
body > header section > ul.nav-bar > li > span.cart-number{
    height: auto;
    top: -10px;
}
/*  account settings    */
body > header li.account-button-container:hover ul.account-menu{
    display: block;
}
body > header li.account-button-container ul.account-menu{
    border: 1px solid #333;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    display: none;
    position: absolute;
    width: 13%;
    right: 0.5%;
    font-size: 130%;
    z-index: 1;
    transition: all 0.3s;
    background-color: var(--text-color);
}
body > header section.desktop li.account-button-container ul.account-menu li{
    display: block;
    width: 100%;
    height: 25%;
    box-sizing: border-box;
}
body > header section.desktop li.account-button-container ul.account-menu li:not(:last-child){
    border-bottom: 0.1px solid black;
}
body > header section.desktop ul.account-menu a{
    line-height: 0em;
    transition: all var(--transition-time);
    color:#333;
}
body > header section.desktop ul.account-menu a:hover{
    background-color: var(--black);
    color: white;
}
body > header section.desktop ul.account-menu li:first-child a:hover{
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
body > header section.desktop ul.account-menu li:last-child a:hover{
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
body > main{
    color: var(--text-color);
    padding-top: 1px;
    min-height: 100vh;
    font-size: 130%;
    background-color: var(--container-background);
    border-radius: var(--border-radius);
    margin: 45px auto 0;
    box-sizing: border-box;
    font-family: UbuntuLight;
}

body > footer{
    clear: both;
    width: 100%;
    background-color: #333;
    font-family: UbuntuLight;
}
body > footer > ul, body > footer > p{
    margin: 0;
    padding:0;
}
body > footer > ul > li{
    text-align: center;
    display: inline-block;
    width: 50%;
}
body > footer a{
    text-decoration: none;
    color:white;
    display: block;
    margin-top: 5%;
}
body > footer a:hover{
    text-decoration: underline;
}
body > footer p{
    color: white;
    text-align: center;
    padding: 5px 0;
}
@media screen and (min-width: 768px){
    body > header section.mobile{
        display: none;
    }
    body > header section.desktop{
        display: block;
    }
    body > header li.account-button-container ul.account-menu{
        width: 20%;
        height: 400px;
    }
    body > header section.desktop li.account-button-container ul.account-menu li{
        display: block;
        width: 100%;
        height: 25%;
    }
    body > main{
        margin-top: 45px;
    }
    body > footer{
        text-align: center;
    }
    body > footer > ul > li{
        width: 10%;
    }
}
@media screen and (min-width: 1024px){
    body > header li.account-button-container ul.account-menu{
        height: 350px;
        width: 10%;
        font-size: 100%;
    }
}

