@import url("font.css");
@import url("variables.css");

:root{
    --padding: 2%;
}
h2{
    margin-top: 45px;
}
main.cart, main.save,main.search,main.eventmanager{
    background-color: inherit;
    color: var(--text-color);
    text-align: center;
    width: 90%;
    border: 0;
    margin-bottom: 30px;
}

main.cart .container:not(:first-of-type),
main.save .container:not(:first-of-type),
main.search .container:not(:first-of-type),
main.eventmanager .container:not(:first-of-type){
    margin-top: 30px;
}

main.cart .container,main.save .container,main.search .container,main.eventmanager .container{
    background-color: var(--container-background);
    padding: 3%;
    border-radius: var(--border-radius);
    text-align: left;
}

div.image {
    display: block;
    width: 100%;
}

div.image img{
    border-radius: var(--border-radius);
    width: 100%;
}

div.text {
    line-height: 1.5;
    display: block;
    width: 100%;
    padding: var(--padding);
}
.text p{
    margin-top: 10px;
}
.text h3{
    margin: 0;
    margin-bottom: 5px;
}

.buttons{
    text-align: center;
}

.buttons button,div.quantity{
    margin-top:16px;
}

button.remove{
    margin-right: 12.5px;
}
button.save{
    margin-left: 12.5px;
}
.buttons button, .cart-checkout, div.quantity button{
    background-color: var(--button-color);
    border-radius: var(--border-radius);
    border-style: solid;
    border-color: var(--button-color);
    color: var(--container-background);
    outline: none;
}
.buttons button, div.quantity button{
    color: var(--container-background);
}
.cart-checkout{
    color: var(--background-color);
}
div.buttons button:hover, div.cart-checkout:hover, div.quantity button:hover,button.cart-checkout:hover{
    background-color:inherit;
    color:var(--button-color);
    border-color: var(--button-color);
}
.bottom {
    padding: var(--padding);
    display: block;
}
.hidden {
    display: none;
}
div.quantity {
    padding: var(--padding);
    display: flex;
}

div.current{
    margin: 0 10px;
}

div.cart-footer{
    display: block;
    text-align: center;
    padding: var(--padding);

}
div.cart-footer *{
    display: inline-block;
}
div.cart-footer button.cart-checkout{
    margin-left: 3%;
    padding: 5px;
}
@media screen and (min-width: 768px){
    div.image {
        display: inline-block;
        width: 30%;
    }
    div.image img{
        width: 100%;
    }
    div.text {
        display: inline-block;
        width: 65%;
        padding: var(--padding);
        vertical-align: top;
    }
    
    .bottom {
        display: block;
        width: auto;
    }

    div.quantity{
        padding: 0;
    }
        
}

@media screen and (min-width: 1024px){
div.image {
    display: inline-block;
    width: 30%;
}
div.image img{
    width: 100%;
}
div.text {
    display: inline-block;
    width: 46%;
    padding: var(--padding);
    vertical-align: top;
}

.bottom {
    display: inline-block;
    width: auto;
    vertical-align: top;
    margin-top: 0px;
}
    
}
