@import url("font.css");
@import url("variables.css");

main.eventmanager{
    padding: 10px 5%;
}
main.eventmanager header{
    margin: 10px 0;
}
main.eventmanager header ul{
    margin: 0 auto;
}
main.eventmanager header li{
    display: inline-block;
}
main.eventmanager li.create-button{
    margin-left: 10%;
    width: 55%;
}
main.eventmanager h2{
    margin: 0;
    font-family: UbuntuR;
}
main.eventmanager header a{
    font-family: UbuntuR;
    text-decoration: none;
    color: var(--background-color);
    border: 2px solid var(--button-color);
    box-sizing: border-box;
    border-radius: var(--border-radius);
    padding: 10px 2%;
    background-color: var(--button-color);
    text-align: center;
    transition: all var(--transition-time);
    display: block;
}
main.eventmanager header a:hover{
    background-color: inherit;
    border: 2px solid var(--button-color);
    color: var(--button-color);
}
main.eventmanager ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
main.eventmanager label{
    font-family: UbuntuR;
    clear: both;
    margin-bottom: 5px;
    display: block;
}
main.eventmanager > ul > li{
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}
main.eventmanager select {
    height: 50px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 0.5px solid #999;
}

main.eventmanager li.status{
    margin-top: 10px;
    display: block;
    width: 100%;
}
main.eventmanager select{
    width: 100%;
    background-color: white;
    padding: 2% 1%;
}
main.eventmanager section.events{
    margin-top: 30px;
}
main.eventmanager section.events p{
    text-align: left;
}
main.eventmanager section.events img.nothing{
    clear: both;
    display: block;
    width: 40%;
    margin: 100px auto;
}
@media screen and (min-width: 768px){
    main.eventmanager{
        width: 80%;
        margin: auto;
    }
    main.eventmanager header{
        margin: 0;
        width: 65%;
        display: inline-block;
    }
    main.eventmanager li.create-button{
        width: 40%;
        margin-left: 20%;
    }
    main.eventmanager > ul{
        display: inline-block;
        width: 35%;
        margin-top: 40px;
    }
    main.eventmanager select{
        height: 50px;
    }
    main.eventmanager li.status{
        width: 30%;
        display: inline-block;
    }
    main.eventmanager li.status{
        margin-left: 39%;
    }
    main.eventmanager section.events{
        display: block;
        margin-top: 50px;
    }
    main.eventmanager section.events img.nothing{
        width: 15%;
        margin-top: 100px;
    }
}
