@font-face{
    font-family: UbuntuLight;
    src:url("../res/fonts/Ubuntu/Ubuntu-L.ttf");
}
@font-face{
    font-family: UbuntuMedium;
    src:url("../res/fonts/Ubuntu/Ubuntu-B.ttf");
}
@font-face{
    font-family: Alice;
    src : url("../res/fonts/Alice-Regular.ttf");
}
@font-face{
    font-family: UbuntuR;
    src : url("../res/fonts/Ubuntu/Ubuntu-R.ttf");
}
