@import url("font.css");
@import url("variables.css");

main.home {
    background-color: var(--background-color);
    margin-top: 45px;
}

main.home > section{
    padding: 2% 5% 5%;
}

main.home > section > h2 {
    font-family: UbuntuR;
    text-align: left;
    color: var(--text-color);
    font-size: 5vw;
    font-weight: bold;
    margin: 10px 0;
}

main.home > section > div.wrapper > section {
    display: list-item;
    list-style: none;
    margin-top: 2%;
}

main.home > section > div.wrapper > section > div.event {
    display: inline-block;
    vertical-align: top;
    overflow-y: hidden;
    width: 32.2%;
    height: 7%;
    box-sizing: border-box;
}

main.home > section > div.wrapper > section > div.event img{
    width: 100%;
    border-radius: var(--border-radius);
}

main.home > section > div.wrapper > section > div.event .details > h3{
    width: 100%;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    font-family: UbuntuR;
    color: var(--text-fade);
    font-size: 3.7vw;
    padding: 0;
    margin: 0 0 15%;
}

main.home > section > div.wrapper > section > div.event > a:hover h3{
    color:  var(--text-highlight);
    font-weight: bold;
}

main.home > section > div.wrapper > section > div.event .details p {
    display: none;
}

@media screen and (min-width:768px){

    main.home > section > div.wrapper > section.section3 {
        display: none;
    }

    main.home > section > div.wrapper > section > div.event {
        display: list-item;
        list-style: none;
        background-color: var(--container-background);
        border-radius: var(--border-radius);
        margin-bottom: 20px;
        margin-top: 2%;
        overflow-y: hidden;
        width: 100%;
        height: 200px;
        box-sizing: border-box;
        padding: 25px;
    }
    
    main.home > section > div.wrapper > section > div.event img{
        float: left;
        width: auto;
        height: 150px;
    } 

    main.home > section > div.wrapper > section > div.event .details {
        float: left;
        width: 60%;
        height: auto;
        margin: 0.2% 2% 0;
    }
    
    main.home > section > div.wrapper > section > div.event .details > h3{
        text-align: left;
        font-size: 2vw;
        margin: 0;
    }

    main.home > section > div.wrapper > section > div.event .details p {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        margin: 0.5% 0 0;
        font-family: UbuntuR;
        font-size: medium;
        color: var(--text-fade);
    }
}