@import url("font.css");
@import url("variables.css");
:root{
    --selected-item-color : #4674c9;
    --margin-top-item: 30px;
    --red: #fd5b5b;
}
main.login{
    color: var(--text-color);
}
main.login > header{
    width: 100%;
    text-align: center;
    margin-top: var(--margin-top-item);
    padding-top: 30px;
}
main.login> header > div.login-logo-container{
    width: 40%;
    margin: 0 auto;
}
div.login-logo-container img{
    width: 80%;
}
main.login> header > p{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}
main.login > section.error-box{
    text-align: center;
    margin: 0 auto;
}
main.login > section.error-box > p{
    padding: 5px;
    font-family: UbuntuR;
    color: var(--button-color);
}
main.login> header > h2{
    font-family: UbuntuR;
}
main.login{
    font-family: UbuntuLight;
}
main.login> form{
    padding: 20px 3%;
    background-color: white;
    color: gray;
    border: 0.5px solid var(--text-color);
    border-radius: var(--border-radius);
    margin: auto;
    margin-top: var(--margin-top-item);
    width: 80%;
}
main.login form label{
    display: none;
}
main.login form input {
    padding: 0 0 5px 2%;
    width: 100%;
    height: 40px;
    display: block;
    background-color: white;
    transition: border-bottom var(--transition-time);
    border-radius: var(--border-radius);
    border-style: none;
    border-bottom: 2px solid #cfcdcd;
}
main.login form input:not(.input-error):not(:focus):hover{
    border-bottom-color: var(--black);
}
main.login form input:not(.input-error):focus{
    border-bottom-color: var(--selected-item-color);
}
main.login input.input-error{
    border-bottom-color: var(--red);
    color:var(--red);
}
main.login input.user-data{
    display: inline-block;
    width: 45%;
}
main.login input.user-data + input.user-data{
    margin-left: 6%;
}
main.login form input{
    margin-top: var(--margin-top-item); 
}
main.login input:focus,button:focus{
    color:var(--black);
    outline: none;
}
main.login div.button-container{
    margin-top: var(--margin-top-item);
}
main.login form button{
    width: 40%;
    /*border: 1px solid var(--black);*/
    display: block;
    margin: 0 auto;
    padding: 10px 3%;
    transition: all var(--transition-time);
    border-radius: var(--border-radius);
}
main.login footer{
    padding: 2px 0;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 90%;
    font-family: UbuntuLight;
}
main.login footer a{
    text-decoration: none;
    color: var(--selected-item-color);
}

main.success{
    width: 100%;
    border-radius: var(--border-radius);
    background-color: white;
    margin: 50px auto 50px;
    text-align: center;
    padding: 150px 4%;
}
main.success h2{
    font-family: UbuntuR;
}
main.success p{
    font-family: UbuntuLight;
}
main.success a{
    text-decoration: none;
    color: var(--selected-item-color);
}
/* account settings */
main.profile{
    padding-bottom: 30px;
}
main.profile header p{
    text-align: center;
}
main.profile form input{
    margin-top: 5px;
}
main.profile form input[type="password"]{
    margin-top: 20px;
}
main.profile form label{
    width: 48%;
    padding-left: 2%;
    display: inline-block;
    margin-top: 20px;
}
#continue{
    font-family: UbuntuR;
    /*background-color: #ff9797;*/
    background-color: var(--button-color);
    border-style: solid;
    border-color: var(--button-color);
    color: var(--black);
}
#continue:hover{
    color: var(--button-color);
    background-color: white;
}
@media screen and (min-width: 768px){
    main.login{
        width: 50%;
    }
}
@media screen and (min-width: 1024px){
    main.login{
        width: 40%;
    }
    main.login form input{
        height: 40px;
    }
    main.success{
        width: 70%;
    }
}
