@import url("font.css");
@import url("variables.css");

:root{
    --item-height: 40px;
}
main.myevent > form{
    padding: 5px 6% 30px;
}
main.myevent > form > h2{
    font-family: UbuntuR;
    text-align: center;
}
main.myevent>form>h3{
    word-break: break-all;
    text-align: center;
    margin: 5px auto;
    border: 3px solid var(--button-color);
    padding: 5px;
    width: 70%;
}
main.myevent *:not(input){
    font-family: UbuntuR;
}
main.myevent li.image{
    margin: 0;
    height: 200px;
    width: 100%;
    text-align: center;
}
main.myevent li.image img{
    width: auto;
    max-height: 100%;
    max-width: 100%
}
main.myevent input{
    font-family: UbuntuLight;
}
main.myevent ul{
    list-style: none;
    padding: 0;
}
main.myevent form > ul{
    width: 85%;
    margin: 0 auto;
}
main.myevent form > ul>li::after{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
main.myevent form > ul > li{
    margin-top: 10px;
}
main.myevent label{
    display: block;
    width: 100%;
}
main.myevent input:not([type="file"]){
    margin-top: 3px;
    border: 0.5px solid var(--black);
    padding: 7px 10px;
    width: 100%;
    border-radius: var(--border-radius);
}
li.left{
    float:left;
}
li.right{
    float:right;
}
main.myevent li.date-box li{
    display: inline-block;
}
main.myevent li.date-box{
    clear: both;
}
main.myevent li.date-box::before{
    clear: both;
}
main.myevent li.date-box li.left{
    margin-right: 10%;
    width: 60%;
}
main.myevent li.date-box li.right{
    width: 30%;
}
main.myevent li.date-box input{
    height: var(--item-height);
}
input[type="date"]::-webkit-clear-button,input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--black);
}
input[type="date"], focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
main.myevent ul.tickets li.left{
    width: 40%;
}
main.myevent ul.tickets li.right{
    width: 40%;
}
main.myevent textarea{
    margin-top: 3px;
    padding: 2%;
    height: 200px;
    border: 0.5px solid var(--black);
    border-radius: var(--border-radius);
    width: 96%;
    resize: none;
}
main.myevent select{
    margin-top: 5px;
    height: var(--item-height);
}
main.myevent select{
    width: 100%;
}
main.myevent label.button{
    cursor: pointer;
    width: 80%;
    padding: 5% 0;
    margin: 0 auto;

}
main.myevent label.button,main.myevent .option-button{
    background-color: var(--button-color);
    border-color: var(--button-color); 
    color: var(--container-background);
    border: 2px solid var(--button-color);
    border-radius: var(--border-radius);
}
main.myevent label.button:hover,main.myevent .option-button:hover{
    color: var(--button-color);
    background-color: inherit;
}
main.myevent input[type="file"]{
    display: block;
    width: 0%;
    height: 0;
}
main.myevent .option-button,main.myevent label.button{
    text-align: center;
    transition: all var(--transition-time);

}
main.myevent .option-button{
    width: 44%;
    margin-left: 4%;
    display: inline-block;
    padding: 2% 0;
}
main.myevent a{
    color: var(--black);
    text-decoration: none;
}
@media screen and (min-width: 768px){
    main.myevent{
        width: 80%;
    }
    main.myevent ul.location li{
        width: 48%;
        display: inline-block;
    }
    main.myevent ul.location li:not(:first-child){
        margin-left: 4%;
    }
    main.myevent li.image{
        margin: 0;
        height: 400px;
        width: 100%;
        text-align: center;
    }
    main.myevent li.image img{
        width: auto;
        height: 100%;
    }
    main.myevent textarea{
        height: 100px;
    }
    main.myevent li.date-box{
        width: 48%;
        display: inline-block;
    }
    main.myevent  li.date-box + li.date-box{
        margin-left: 4%;
    }
    main.myevent label.button{
        margin: auto;
    }
    main.myevent label.button,main.myevent .option-button{
        padding: 1%;
        width: 30%;
    }
    main.myevent .option-button{
        margin-left: 13.3%;
    }
}
@media screen and (min-width: 1024px){

}


