@import url("font.css");
@import url("variables.css");

main.notifications h2{
    font-family: UbuntuR;
    text-align: center;
}
main.notifications ul{
    text-align: justify;
    padding:0;
    list-style: none;
}
main.notifications>ul:after {
    content: "";
    clear: both;
    display: table;
}
main.notifications > ul{
    border-radius: var(--border-radius);
    width: 95%;
    padding-bottom: 30px;
    margin: 0 auto;
}
main.notifications > ul > li{
    background-color: white;
    color: var(--black);
    padding: 10px 10px;
    border: 1px solid var(--button-color);
    box-sizing: border-box;
}
main.notifications > ul > li:not(:first-of-type){
    margin-top: 10px;
}
main.notifications li.title{
    word-break: break-all;
    display: inline-block;
    width: 65%;
}
main.notifications li.date{
    display: inline-block;
    width: 35%;
}
main.notifications li.message{
    word-break: break-all;
    margin-top: 10px;
}
main.notifications li{
    word-break: normal;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);;
}
main.notifications>ul>li{
    float: right;
}
main.notifications li.text-container{
    font-family: UbuntuLight;
    vertical-align: middle;
    width: 100%;
}
main.notifications li.close-button-container{
    vertical-align: middle;
    display: none;
    width: 8%;
    margin-left: 2%;
}
main.notifications button{
    width: 100%;
    border:none;
    background-color: transparent;
}
main.notifications a{
    color: #fd5b5b;
    text-decoration: none;
}
main.notifications a:hover{
    text-decoration: underline;
}
main.notifications li.notification-id,main.notifications li.user-id{
    display:none;
}
@media screen and (min-width: 768px){
    main.notifications{
        width: 80%;
    }
    main.notifications>ul>li{
        float: left;
        margin-top: 10px;
        width: 48%;
    }
    main.notifications li.title{
        vertical-align: top;
        width: 70%;
    }
    main.notifications li.date{
        width: 30%;
    }
    main.notifications>ul>li:nth-child(odd){
        margin-left: 4%;
    }
    main.notifications li.text-container{
        width: 90%;
    }
    main.notifications li.close-button-container{
        width: 2%;
        display: inline-block;
    }
}
