@import url("font.css");
@import url("variables.css");

main.preview{
    background-color: var( --container-background);
    word-break: break-all;
    color: var(--text-highlight);
}
main.preview header{
    margin-top: 10px;
    display: block;
}
main.preview header section{
    width: 80%;
    margin: 10px auto;
}
main.preview header ul{
    padding: 0;
    margin: 0 auto;
    list-style: none;
}
main.preview hr{
    clear: both;
    width: 90%;

}
main.preview div#image-container{
    display: block;
    width: 100%;
}
main.preview header img{
    border-radius: var(--border-radius);
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
main.preview header ul.state{
    clear: both;
    margin-top: 30px;
}
main.preview header ul.state li{
    text-align: center;
    display: inline-block;
    width: 50%;
}
main.preview header ul.informations{
    width: 95%;
    text-align: left;
    margin: 5px auto 0;
}
main.preview header div.data-box{
    padding: 5px 0;
}
main.preview header div.data-box li:not(:first-child){
    padding: 3px 0;
    margin-left: 3%;
}
main.preview header ul.event-state li{
    text-align: center;
    display: inline-block;
}
main.preview header ul.event-state li:first-child{/*state*/
    width:  20%;
}
main.preview header ul.event-state li:last-child{/*button*/
    width:  80%;
}
main.preview header button#tickets,main.preview button#preferred{
    transition: all var(--transition-time);
    color: var(--container-background);
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
}
main.preview header button#tickets:hover,main.preview button#preferred:hover{
    background-color: var(--container-background);
    color: var(--button-color);
}
main.preview button#preferred{
    padding: 5px;
    margin-top: 70px;
    font-size: 150%;
    border-radius: 10px;
    float: right;
}
main.preview button#preferred.liked{
    color: red;
}
main.preview button#preferred.liked:hover{
    color: greenyellow;
}

main.preview header button#tickets{
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    border-radius: var(--border-radius);
}
main.preview section.description{
    min-height: 300px;
    text-align: justify;
    width: 80%;
    margin: 10px auto;
}
main.preview > section h3{
    text-align: center;
}
main.preview section.hidden{
    display: none;
}
@media screen and (min-width: 768px){
    main.preview{
        word-break: break-all;
        width: 98%;
    }
    main.preview header{
        line-height: 2;
        display: block
    }
    main.preview div#image-container{
        width: 38%;
        margin-left: 2%;
        float: left;
        vertical-align: top;
    }
    main.preview header img{
        height: auto;
        width: 100%;
    }
    main.preview header section.main-informations{
        line-height: 3;
        width: 25%;
        margin-left: 5%;
        display: inline-block;
    }
    main.preview header section.main-informations h2{
        margin: 0;
    }
    main.preview header hr{
        display: none;
    }
    main.preview header section.informations-box{
        height: 400px;
        float: right;
        text-align: center;
        vertical-align: top;
        margin: 0 auto;
        width: 25%;
    }
    main.preview button#preferred{
        font-size: 150%;
        margin: 150px 7% 0 0;
    }
    main.preview header button#tickets{
        width: 70%;
    }

    main.preview section.description{
        clear: both;
        display: block;
        min-height: 400px;
        width: 100%;
    }
    main.preview section.description h3{
        text-align: left;
        margin-left: 5%;
    }
    main.preview section.description p{
        width: 90%;
        margin: 0 auto;
        display: block;
        min-height: 200px;
    }
}


