:root{
    --transition-time : 0.3s;
    --black: #333;
    --border-radius : 3px;
    --watermelon: #ff3b3f;
    --container-background:#264d6e ;
    --background-color:#0c2d47;
    --button-color:#ff8e00;
    --button-text: #a65c00;
    --text-color:#65a6d1;
    --text-highlight:#b2d5f1;
    --text-fade:#b2d5f1cb;
}
